/node_modules

/.env

/.crt

/.key

node_modules

.env
.crt
.key

*.env

*.crt

*.pem.key
*.pem.crt

*pem

*.key

/*.env

/*.crt

/*.pem.key
/*.pem.crt

/*pem

/*.key

aws

/aws

D:\Blockchain\react-truffle\server\aws